@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

locator-places-map {
  display: grid;
  grid-template-rows: 1fr auto;
  inset: 0;
  position: absolute;

  /* Hide the unstyled zoom controls */
  .H_zoom {
    display: none;
  }

  .locator-places-map__container {
    display: block;
    height: 100%;
    width: 100%;
  }

  .locator-places-map__children {
    max-width: 100%;
    min-width: 0;
  }

  locator-places-map-card,
  .locator-places-map__marker {
    animation-duration: var(--diamond-transition-duration-enter);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade;
    animation-timing-function: var(--diamond-transition-timing-enter);
  }

  .locator-places-map__marker {
    /* Load markers in after the initial map render */
    animation-delay: 1s;

    /* Ninja button */
    appearance: none;
    background: none;
    border: 0 none;
    cursor: pointer;
    display: block;
    opacity: 0;
    padding: 0;

    .locator-places-map--static & {
      /* Markers aren't clickable in static mode */
      cursor: default;
      pointer-events: none;
    }
  }

  .locator-places-map__marker-pin {
    fill: var(--color-primary-dark);
    stroke: var(--color-white);
  }

  .locator-places-map__marker-pin-active {
    display: none;
  }

  .locator-places-map__marker--active {
    .locator-places-map__marker-pin {
      fill: var(--color-white);
      stroke: var(--color-primary-dark);
    }

    .locator-places-map__marker-pin-active {
      display: block;
    }
  }

  locator-places-map-scrim {
    background: linear-gradient(0deg, var(--color-grey) 0%, transparent 100%);
    display: block;
    inset: 0;
    opacity: 0.3;
    position: absolute;
    transition: opacity var(--diamond-transition);
    z-index: 122; /* 121 markers + 1 */

    &:hover {
      opacity: 0.55;
    }
  }

  locator-places-map-card {
    background: var(--diamond-theme-background);
    display: block;
    padding: var(--diamond-spacing);
    position: relative;
    z-index: 123; /* 121 markers + 1 scrim + 1 */
  }

  @container (width >= 768px) {
    locator-places-map-card {
      border-radius: var(--diamond-border-radius);
      bottom: var(--diamond-spacing);
      box-shadow: var(--diamond-shadow);
      left: 50%;
      max-width: calc(100% - var(--diamond-spacing-lg));
      padding-inline: var(--diamond-spacing);
      position: absolute;
      transform: translateX(-50%);
      width: var(--wrap-max-width);
    }

    locator-places-map-card[padding='none'] {
      padding: 0;
    }
  }
}

/* Set a sensible size for the map when it's not placed in a full height container */
locator-places-map-wrapper {
  aspect-ratio: 1.5/1;
  display: block;
  position: relative;
}
