@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

locator-places-map {
  display: grid;
  grid-template-rows: 1fr auto;
  inset: 0;
  position: absolute;

  .locator-places-map__container {
    display: block;
    height: 100%;
    width: 100%;
  }

  .locator-places-map__marker {
    /* Load markers in after the initial map render */
    animation-delay: 1s;
    animation-duration: var(--diamond-transition-enter-duration);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade;
    animation-timing-function: var(--diamond-transition-enter-timing);

    /* Ninja button */
    appearance: none;
    background: none;
    border: 0 none;
    cursor: pointer;
    display: block;
    opacity: 0;
  }

  /* Hide the unstyled zoom controls */
  .H_zoom {
    display: none;
  }
}
