/**
  * Conditional header layout for the places view which includes a search
  * filter that moves into the header on large screen
  */
locator-places-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  locator-header-title {
    flex: 1 1 auto;
    padding: var(--diamond-spacing-sm) var(--diamond-spacing);
  }

  locator-places-header-search {
    display: block;
    width: 100%;
  }

  locator-places-header-search > a {
    align-items: center;
    border-top: var(--diamond-border);
    color: var(--diamond-theme-color-muted);
    display: flex;
    justify-content: space-between;
    padding: var(--diamond-spacing-sm) var(--diamond-spacing);
    text-decoration: none;
    transition: color var(--diamond-transition);
    width: 100%;
  }

  locator-places-header-search[active] > a {
    color: var(--diamond-theme-color);
    font-weight: var(--diamond-font-weight-bold);
  }

  @media (hover: hover) {
    locator-places-header-search > a:hover {
      color: var(--diamond-theme-color-hover);
    }
  }

  /* small tablet */
  @container (width >= 600px) {
    locator-places-header-search {
      padding-inline-end: var(--diamond-spacing);
      width: auto;

      > a {
        border: var(--diamond-border);
        border-radius: var(--diamond-border-radius);
        width: 18rem;
      }
    }
  }
}
