# Uses Vite's method of setting environment variables
# https://vitejs.dev/guide/env-and-mode

# The public path for asset loading, this needs to be a publically accessible URL on the
# production version
VITE_PUBLIC_PATH=/
