# Uses Vite's method of setting environment variables
# https://vitejs.dev/guide/env-and-mode
VITE_PACKAGE_VERSION=$npm_package_version

# Sentry
VITE_SENTRY_DSN=
# Needed in production for sourcemaps
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

# The public path for asset loading, this needs to be a publically accessible URL on the
# production version
VITE_PUBLIC_PATH=/

# The base url for the API
VITE_RECYCLING_LOCATOR_API=http://rl.test/widget/

# The public Rest API key for the Here Maps API
VITE_HERE_MAPS_PLACES_KEY=

# Analytics
VITE_ENABLE_ANALYTICS=false
