locator-fab {
  bottom: var(--diamond-spacing);
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: var(--layer-one);

  diamond-button {
    --diamond-button-padding-block: var(--diamond-spacing-xs);
    --diamond-spacing-thumb: 3em; /* convert diamond thumb to em */
    box-shadow: var(--diamond-shadow);
    pointer-events: auto;
  }

  &[position='top'] {
    bottom: unset;
    top: var(--diamond-spacing);
  }

  &[sticky] {
    position: fixed;
  }

  @container (width >= 768px) {
    diamond-button {
      --diamond-button-padding-block: var(--diamond-spacing-sm);
    }
  }
}
