locator-tip {
  --diamond-theme-background: var(--theme-background-accent);
  --diamond-theme-color: var(--theme-color-accent);
  --diamond-theme-heading-color: var(--theme-heading-color-accent);
  --diamond-theme-link-color: var(--theme-link-color-accent);

  background: var(--diamond-theme-background);
  color: var(--diamond-theme-color);
  display: grid;
  grid-template-columns: min(100%, 20em);
  height: 100%;
  padding: var(--diamond-spacing);
  place-content: center;

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: min(100%, 10em);
  }

  &[text-align='center'] {
    text-align: center;
  }
}
