locator-map-svg {
  background-color: var(--color-grey-lightest);
  display: grid;
  height: 100%;
  width: 100%;

  img,
  locator-map-svg-content {
    grid-column: 1;
    grid-row: 1;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  locator-map-svg-content {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: var(--diamond-spacing);
    width: min(100%, calc(var(--wrap-max-width) - var(--diamond-spacing-lg)));
  }

  @container (width > 768px) {
    locator-map-svg-content {
      place-self: end;
      width: calc(var(--wrap-max-width) - var(--diamond-spacing-xl));
    }
  }
}
