locator-layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'aside';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100%;

  .standalone & {
    height: 100cqh;
  }

  @container (width > 768px) {
    grid-template-areas:
      'header aside'
      'main aside';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    &::part(main) {
      overflow-y: auto;
    }
  }

  &::part(header) {
    background: var(--diamond-color-white);
    border-bottom: var(--diamond-border);
    grid-area: header;
    position: sticky;
    top: 0;
  }

  &::part(main) {
    grid-area: main;
  }

  &::part(aside) {
    grid-area: aside;
    height: 100%;
  }
}
