locator-layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'aside';
  grid-template-columns: 100%;
  grid-template-rows: auto max-content 1fr;
  height: 100%;

  .recycling-locator-variant-standalone & {
    height: 100cqh;
  }

  @container (width > 768px) {
    grid-template-rows: auto 1fr;

    &:has([slot='layout-aside']) {
      grid-template-areas:
        'header aside'
        'main aside';
      grid-template-columns: 50% 50%;
    }

    &::part(main) {
      overflow-y: auto;
    }
  }

  &::part(header) {
    background: var(--diamond-color-white);
    border-bottom: var(--diamond-border);
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &::part(main) {
    grid-area: main;
    min-height: 100%;
  }

  &::part(aside) {
    grid-area: aside;
    height: 100%;
  }
}
