locator-icon {
  display: inline-flex;

  svg {
    height: var(--diamond-icon-size);
    width: var(--diamond-icon-size);
  }

  path,
  circle {
    fill: currentColor;
  }

  &[color='primary'] {
    color: var(--color-primary);
  }
}
