locator-icon {
  --_size: var(--diamond-icon-size);

  display: inline-flex;

  svg {
    height: var(--_size);
    width: var(--_size);
  }

  path,
  circle {
    fill: currentColor;
  }

  &[color='primary'] {
    color: var(--color-primary);
  }

  &[color='muted'] {
    color: var(--color-grey-light);
  }

  &[color='positive'] {
    color: var(--color-positive);
  }

  &[color='negative'] {
    color: var(--color-negative-light);
  }
}
