locator-logo {
  display: block;
  line-height: 1;
  max-width: 100%;

  svg {
    display: block;
    height: auto;
    width: 100%;
  }

  .logo-text--cy {
    display: none;
  }

  &[locale='cy'] {
    .logo-text--cy {
      display: block;
    }

    .logo-text--en {
      display: none;
    }
  }

  &[type='logo-only'] {
    /* Crop the space the logo text takes up to create a 40px square */
    overflow: hidden;
    width: 40px;

    svg {
      width: 220px;
    }

    .logo-text {
      display: none;
    }
  }
}
