@import './diamond-ui.css';
@import './tokens.css';
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@import-glob '../components/**/*.css';
@import './utils.css';

article {
  container-type: inline-size;
}

.recycling-locator-variant-widget {
  border: var(--container-border);
  box-sizing: content-box;
  height: var(--container-height);
  overflow-y: auto;
}

.recycling-locator-test-mode {
  /* Height restriction is removed for snapshots */
  height: auto;
}
