@import '../../node_modules/@etchteam/diamond-ui/styles/tokens.css';
@import '../../node_modules/@etchteam/diamond-ui/styles/base.css';

/**
  * Redefine body styles from diamond because we don't have a <body> element
  */
:host {
  font-family: var(--diamond-font-family);
  font-size: var(--diamond-font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--diamond-font-line-height);
}

/**
  * Diamond variable overrides
  */
:host {
  --diamond-skin-heading-color-light: var(--theme-heading-color-light);
  --diamond-skin-color-light: var(--theme-color-light);
  --diamond-skin-border-color-light: var(--theme-border-color-light);

  --diamond-font-family: var(--font-family);
}
