@import '../../node_modules/@etchteam/diamond-ui/diamond-ui.css';

/* Override rem units */
:host {
  /* Ignore rem if host site html font-size is set to lower than 14px */
  --diamond-font-size-base: max(14px, 0.875rem);

  --diamond-font-size-default: 1em;
  --diamond-font-size-h1: 2em;
  --diamond-font-size-h2: 1.75em;
  --diamond-font-size-h3: 1.5em;
  --diamond-font-size-h4: 1.25em;
  --diamond-spacing-thumb: 2.75em;
  --diamond-spacing: 1em;
}

@media (width >= 768px) {
  :host {
    --diamond-font-size-base: max(14px, 1rem);
    --diamond-font-size-h1: 3em;
    --diamond-font-size-h2: 2em;
  }
}

/**
  * Redefine body styles from diamond because we don't have a <body> element
  */
:host {
  color: var(--diamond-theme-color);
  font-family: var(--diamond-font-family);
  font-size: var(--diamond-font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--diamond-font-line-height);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--diamond-font-weight-base);
}

diamond-card {
  h3,
  h4 {
    font-size: var(--diamond-font-size-base);
    font-weight: var(--diamond-font-weight-bold);
  }
}
