.display-contents {
  display: contents;
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.text-color-muted {
  color: var(--diamond-theme-color-muted);
}

.text-color-negative {
  color: var(--color-red-dark);
}

.layer-one {
  position: relative;
  z-index: var(--layer-one);
}
