/**
 * Optional styles registered in the global scope
 * Prevents Flash Of Unstyled Content (FOUC)
 */
recycling-locator {
  display: block;
  height: 540px;
}

@media (min-width: 768px) {
  recycling-locator {
    height: 640px;
  }
}
