:host {
  --diamond-button-background: var(--color-white);
  --diamond-button-background-hover: var(--color-primary-lightest);
  --diamond-button-background-disabled: var(--diamond-button-background);
  --diamond-button-border-color: var(--color-primary-dark);
  --diamond-button-border-color-hover: var(--color-primary-dark);
  --diamond-button-border-color-disabled: var(--color-primary);
  --diamond-button-color: var(--color-primary-dark);
  --diamond-button-color-hover: var(--color-primary-dark);
  --diamond-button-color-disabled: var(--color-primary);
  --diamond-button-padding-block: 0.75rem;

  --diamond-button-primary-background: var(--color-primary-dark);
  --diamond-button-primary-background-hover: color-mix(
    in srgb,
    var(--color-primary-dark) 85%,
    var(--color-black)
  );
  --diamond-button-primary-background-disabled: var(--color-primary);
  --diamond-button-primary-color: var(--color-white);
  --diamond-button-primary-color-hover: var(--diamond-button-primary-color);
  --diamond-button-primary-color-disabled: var(--diamond-button-primary-color);

  --diamond-button-text-background-hover: var(--color-primary-lightest);
}

diamond-button[variant='primary'] {
  --diamond-button-font-weight: var(--diamond-font-weight-bold);
}

diamond-button[width='square'][size='sm'] {
  --diamond-button-padding-block: 0.5rem;
}
