:host {
  --diamond-button-background: var(--color-white);
  --diamond-button-background-hover: var(--theme-background-accent);
  --diamond-button-background-disabled: var(--diamond-button-background);
  --diamond-button-border-color: var(--color-green);
  --diamond-button-border-color-hover: var(--color-green-dark);
  --diamond-button-border-color-disabled: var(--color-green-light);
  --diamond-button-color: var(--diamond-button-border-color);
  --diamond-button-color-hover: var(--diamond-button-border-color-hover);
  --diamond-button-color-disabled: var(--diamond-button-border-color-disabled);
  --diamond-button-padding-block: 0.75rem;

  --diamond-button-primary-background: var(--color-primary);
  --diamond-button-primary-background-hover: var(--color-primary-dark);
  --diamond-button-primary-background-disabled: var(--color-primary-light);
  --diamond-button-primary-color: var(--color-white);
  --diamond-button-primary-color-hover: var(--diamond-button-primary-color);
  --diamond-button-primary-color-disabled: var(--diamond-button-primary-color);

  --diamond-button-text-background-hover: var(--theme-background-accent);
}

diamond-button[variant='primary'] {
  --diamond-button-font-weight: var(--diamond-font-weight-bold);
}
