:host {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-lightest: #f2f2f2;
  --color-grey-light: #bdbdbd;
  --color-grey-muted: #4f4f4f;
  --color-grey-dark: #333;

  --color-green-lightest: #eef5e5;
  --color-green-light: #6fcf97;
  --color-green: #219653;
  --color-green-dark: #1c7d46;

  --color-body: var(--color-grey-dark);
  --color-border: var(--color-grey-light);

  --color-positive: #8dc63f;
  --color-negative: #ca250a;
  --color-hazardous: #ffe500;

  /* This is the main color that we expect people to change */
  --color-primary-lightest: color-mix(
    in srgb,
    var(--color-primary) 10%,
    var(--color-white)
  );
  --color-primary: var(--recycling-locator-color-primary, var(--color-green));
}
