:host {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-lightest: #f5f6f8;
  --color-grey-light: #cfd1d3;
  --color-grey: #999c9e;
  --color-grey-muted: #4f4f4f;
  --color-grey-dark: #222;

  --color-green-lightest: #eef5e5;
  --color-green-light: #dfefc8;
  --color-green: #8dc63f;
  --color-green-dark: #297f00;

  --color-blue-lightest: #e0f8ff;
  --color-blue-light: #bee9f6;
  --color-blue: #059bdc;
  --color-blue-dark: #0077ab;

  --color-yellow-lightest: #fffacf;
  --color-yellow-light: #ffe9a5;
  --color-yellow: #ffe500;
  --color-yellow-dark: #eab716;

  --color-orange-lightest: #ffecde;
  --color-orange-light: #ffdbbe;
  --color-orange: #f26d04;
  --color-orange-dark: #c45300;

  --color-red-lightest: #fff0f0;
  --color-red-light: #f9e5e2;
  --color-red: #f64a3c;
  --color-red-dark: #ca250a;

  --color-purple-lightest: #f5f0ff;
  --color-purple-light: #e6d9ff;
  --color-purple: #8a4fff;
  --color-purple-dark: #5a24b4;

  --color-brown-lightest: #f5f0f0;
  --color-brown-light: #e6d9d9;
  --color-brown: #8a4f4f;
  --color-brown-dark: #5a2424;

  --color-navy-lightest: #f0f0f5;
  --color-navy-light: #d9d9e6;
  --color-navy: #4f4f8a;
  --color-navy-dark: #24245a;

  --color-body: var(--color-grey-dark);
  --color-border: var(--color-grey-light);

  /**
    * The primary colour is the main color that's changed via theme presets
    * consumers can set the theme to none to use custom primary colours
    */
  --color-primary-lightest: var(
    --recycling-locator-color-primary-lightest,
    var(--color-green-lightest)
  );
  --color-primary-light: var(
    --recycling-locator-color-primary-light,
    var(--color-green-light)
  );
  --color-primary: var(--recycling-locator-color-primary, var(--color-green));
  --color-primary-dark: var(
    --recycling-locator-color-primary-dark,
    var(--color-green-dark)
  );
}
