/**
  * These tokens control the widgets outer wrapping container
  */
:host {
  --container-border-default: 1px solid var(--diamond-theme-border-color);
  --container-border: var(
    --recycling-locator-container-border,
    var(--container-border-default)
  );
  --container-border-radius: var(
    --recycling-locator-container-border-radius,
    0
  );

  /**
   * This matches the height setup in the optional FOUC preventing css file
   * /public/recycling-locator.css
   */
  --container-height: 540px;
  @media (width >= 768px) {
    --container-height: 640px;
  }
}

.recycling-locator-variant-standalone {
  --container-height: 100cqh;
}
