:host {
  --font-family-default: Arial, Helvetica, sans-serif;
  --diamond-font-family: var(
    --recycling-locator-font-family,
    var(--font-family-default)
  );

  @media (width >= 768px) {
    --diamond-font-size-h2: 1.75rem;
  }
}
