:host {
  --font-family-default: Arial, Helvetica, sans-serif;
  --diamond-font-family: var(
    --recycling-locator-font-family,
    var(--font-family-default)
  );

  --diamond-font-size-h3: 1.5rem;
}

@media (width >= 768px) {
  :host {
    --diamond-font-size-h2: 1.75rem;
  }
}
