:host {
  --diamond-theme-background: var(
    --recycling-locator-theme-background,
    var(--color-white)
  );
  --diamond-theme-heading-color: var(
    --recycling-locator-theme-heading-color-light,
    var(--color-body)
  );
  --diamond-theme-color: var(
    --recycling-locator-theme-color-light,
    var(--color-body)
  );
  --diamond-theme-border-color: var(
    --recycling-locator-theme-border-color-light,
    var(--color-border)
  );

  --theme-background-accent: var(
    --recycling-locator-theme-background-accent,
    var(--color-green-lightest)
  );
  --theme-heading-color-accent: var(
    --recycling-locator-theme-heading-color-accent,
    var(--color-green)
  );
  --theme-color-accent: var(
    --recycling-locator-theme-color-accent,
    var(--diamond-theme-color)
  );
  --theme-link-color-accent: var(
    --recycling-locator-theme-link-color-accent,
    var(--color-green)
  );
}
