:host {
  --diamond-theme-background: var(
    --recycling-locator-theme-background,
    var(--color-white)
  );
  --diamond-theme-background-muted: var(
    --recycling-locator-theme-background-muted-light,
    var(--color-grey-lightest)
  );
  --diamond-theme-heading-color: var(
    --recycling-locator-theme-heading-color-light,
    var(--color-body)
  );
  --diamond-theme-color: var(
    --recycling-locator-theme-color-light,
    var(--color-body)
  );
  --diamond-theme-color-muted: var(
    --recycling-locator-theme-color-muted-light,
    var(--color-grey-muted)
  );
  --diamond-theme-color-hover: var(
    --recycling-locator-theme-color-hover,
    var(--color-primary)
  );
  --diamond-theme-border-color: var(
    --recycling-locator-theme-border-color-light,
    var(--color-border)
  );
  --diamond-theme-border-color-hover: var(
    --recycling-locator-theme-border-color-hover-light,
    var(--color-primary)
  );

  --theme-background-accent: var(
    --recycling-locator-theme-background-accent,
    var(--color-primary-lightest)
  );
  --theme-heading-color-accent: var(
    --recycling-locator-theme-heading-color-accent,
    var(--color-primary)
  );
  --theme-color-accent: var(
    --recycling-locator-theme-color-accent,
    var(--diamond-theme-color)
  );
  --theme-link-color-accent: var(
    --recycling-locator-theme-link-color-accent,
    var(--color-primary)
  );

  --theme-background-info: var(
    --recycling-locator-theme-background-info,
    var(--color-blue-lightest)
  );
  --theme-heading-color-info: var(
    --recycling-locator-theme-heading-color-info,
    var(--color-blue)
  );
  --theme-color-info: var(
    --recycling-locator-theme-color-info,
    var(--color-blue)
  );
  --theme-link-color-info: var(
    --recycling-locator-theme-link-color-info,
    var(--color-blue)
  );

  --theme-background-positive: var(
    --recycling-locator-theme-background-positive,
    var(--color-positive-lightest)
  );
  --theme-heading-color-positive: var(
    --recycling-locator-theme-heading-color-positive,
    var(--color-positive-dark)
  );
  --theme-color-positive: var(
    --recycling-locator-theme-color-positive,
    var(--color-positive-dark)
  );
  --theme-link-color-positive: var(
    --recycling-locator-theme-link-color-positive,
    var(--color-positive-dark)
  );

  --theme-background-negative: var(
    --recycling-locator-theme-background-negative,
    var(--color-negative-lightest)
  );
  --theme-heading-color-negative: var(
    --recycling-locator-theme-heading-color-negative,
    var(--color-negative)
  );
  --theme-color-negative: var(
    --recycling-locator-theme-color-negative,
    var(--color-negative)
  );
  --theme-link-color-negative: var(
    --recycling-locator-theme-link-color-negative,
    var(--color-negative)
  );
}

.theme-info {
  --diamond-theme-background: var(--theme-background-info);
  --diamond-theme-heading-color: var(--theme-heading-color-info);
  --diamond-theme-color: var(--theme-color-info);
  --diamond-theme-link-color: var(--theme-link-color-info);
}

.theme-positive {
  --diamond-theme-background: var(--theme-background-positive);
  --diamond-theme-heading-color: var(--theme-heading-color-positive);
  --diamond-theme-color: var(--theme-color-positive);
  --diamond-theme-link-color: var(--theme-link-color-positive);
}

.theme-negative {
  --diamond-theme-background: var(--theme-background-negative);
  --diamond-theme-heading-color: var(--theme-heading-color-negative);
  --diamond-theme-color: var(--theme-color-negative);
  --diamond-theme-link-color: var(--theme-link-color-negative);
}
