locator-places-grid {
  display: block;

  ul {
    display: grid;
    gap: var(--diamond-spacing-sm);
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    /* small tablet */
    @container (width >= 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    /* large tablet */
    @container (width >= 1024px) {
      gap: var(--diamond-spacing);
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      /* Fix browser min-width mis-calculation caused by truncated text overflow */
      min-width: 0;
    }
  }
}
