locator-header {
  align-items: center;
  display: flex;
  gap: var(--diamond-spacing);
  justify-content: space-between;
  padding-block: var(--diamond-spacing-sm);
  padding-inline: var(--diamond-spacing);
}
