body {
  font-family: -apple-system, system-ui, blinkmacsystemfont, roboto, helvetica,
    arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.25;
  margin-block-end: 1em;
  margin-block-start: 0;
  text-wrap: balance;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 1rem;
}

ul,
ol {
  margin: 0 0 0.5em 0.5em;
  padding-left: 1em;
}

label {
  font-weight: bold;
}

.intro {
  margin-block-end: 2rem;

  h1 {
    margin-block-end: 0.25rem;
  }

  p {
    max-width: 500px;
  }
}

@media (width >= 768px) {
  .layout {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
