locator-header {
  align-items: center;
  display: flex;
  width: 100%;

  locator-header-logo {
    align-items: center;
    align-self: stretch;
    border-right: var(--diamond-border);
    display: none;
    padding: var(--diamond-spacing-sm) var(--diamond-spacing);
  }

  @container (width > 768px) {
    locator-header-logo {
      display: flex;
    }
  }

  locator-header-content {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    gap: var(--diamond-spacing);
    justify-content: space-between;
    padding: var(--diamond-spacing-sm) var(--diamond-spacing);

    diamond-button[variant='text'] {
      line-height: 1;
    }
  }
}
