:root {
  background-color: #fff;

  color: #222;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
}

img {
  margin-bottom: 1.5rem;
}

img:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

section {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.resource {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #222;
  padding: 0.75rem 1.5rem;
  text-align: left;
  text-decoration: none;
}

.resource:hover {
  border: 1px solid #000;
  box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
  main {
    margin: 2rem;
  }

  section {
    grid-template-columns: 1fr;
    margin-top: 5rem;
    row-gap: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1a1a1a;
    color: #ccc;
  }

  .resource {
    background-color: #161616;
    color: #ccc;
  }

  .resource:hover {
    border: 1px solid #bbb;
  }
}
